{% load static %}
    {% if request.user.prof_img %}
      <img src="{{ request.user.prof_img.url }}" height="50px" width="50px"><br><br>
    {% else %}
      <img src="{% static 'main/images/user_default.png' %}" height="50px" width="50px"><br><br>
    {% endif %}

    {% if request.user.is_authenticated %}
    {% if request.user.is_staff == True %}
    <div>Hi, {{ request.user.username }}</div>
    <div><a href="{% url 'account' %}">Account Settings</a></div>
    <div><a href="{% url 'logout' %}">Logout</a></div>

    <meta http-equiv="refresh" content="2; url=http://127.0.0.1:8000/moderator/">
    {% else %}
    <div>Hi, {{ request.user.username }}</div>
    <div><a href="{% url 'account' %}">Account Settings</a></div>
    <div><a href="{% url 'logout' %}">Logout</a></div>
    <meta http-equiv="refresh" content="0; url=http://127.0.0.1:8000/account/navigation/">
    {% endif %}
    {% else %}
      <div id="greeting-text">Hey there!</div>
      <div><a href="{% url 'login' %}">Sign in</a></div>
    {% endif %}