{% extends 'account/base.html' %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<main class="container">
	<div class="main_wrapper">
		<div class="main_content">
      <h1>Изменение пароля</h1>
      <br>
			<form method="POST">{% csrf_token %}
          <p><input class="form-control w-50" name="old_password" placeholder="Текущий пароль" type="password" id="id_old_password" required="true"></p>
          <p><input class="form-control w-50" name="new_password1" placeholder="Новый пароль" type="password" id="id_new_password1" required="true"></p>
          <p><input class="form-control w-50" name="new_password2" placeholder="Новый пароль еще раз" type="password" id="id_new_password2" required="true"></p>
      
          {% for field in form %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          {% endfor %}
      
        <button class="btn btn-primary mt-3 mx-1" type="submit">Обновить</button>
        <a class="btn btn-outline-secondary mt-3 mx-1" href="{% url 'profile' %}">Вернуться в профиль</a>
      </form>
		</div>
	</div>
</main>
{% endblock %}