{% extends 'account/base.html' %}

{% block content %}
    <div class = "features">
        <h3>{{ display.Sem }}</h3>
        <div class = "alert">Неделя №1: {{ display.Week1_1}}<br></div>
        <div class = "alert">Неделя №2: {{ display.Week2_1}}<br></div>
        <div class = "alert">Неделя №3: {{ display.Week3_1}}<br></div>
        <div class = "alert">{{ display.Week4_1}}<br></div>
        <div class = "alert">{{ display.Week5_1}}<br></div>
        <div class = "alert">{{ display.Week6_1}}<br></div>
        <div class = "alert">{{ display.Week7_1}}<br></div>
        <div class = "alert">{{ display.Week8_1}}<br></div>
        <div class = "alert">{{ display.Week9_1}}<br></div>
        <div class = "alert">{{ display.Week10_1}}<br></div>
        <div class = "alert">{{ display.Week11_1}}<br></div>
        <div class = "alert">{{ display.Week12_1}}<br></div>
        <div class = "alert">{{ display.Week13_1}}<br></div>
        <div class = "alert">{{ display.Week14_1}}<br></div>
        <div class = "alert">{{ display.Week15_1}}<br></div>
        <div class = "alert">{{ display.Week16_1}}<br></div>
        <div class = "alert">{{ display.Week17_1}}<br></div>
        <div class = "alert">{{ display.Week18_1}}<br></div>
    </div>
{% endblock %}