{% extends 'account/base.html' %}

{% block content %}
<main class="container">
	<div class="main_wrapper">
		<div class="main_content">
        <h1>Выберите семестр</h1>
        <br>
        {% if sem %}
            {% for el in sem %}
                <p><a href="{% url 'display-one-table' el.id %}">{{ el.Sem }}</a></p>
            {% endfor %}
        {% else %}
            <p>Нет записей</p>
        {% endif %}
        <a class="btn btn-outline-success mt-3" href="{% url 'TableForSemester' %}">
            <b>&plus;</b> Добавить график дисциплины
        </a>
    </div>
</div>
</main>
{% endblock %}