{% extends 'account/base.html' %}

{% block content %}
<main class="container">
	<div class="main_wrapper">
		<div class="main_content">
			<p>Добро пожаловать на сайт <b>"График дисциплины"!</b></p>
			<p>На нашем сайте Вы можете просмотреть график дисциплины, изменять его. Сам график дисциплины представляет с собой название дисциплины, модули и темы дисциплины, которые может редактироваться преподавателем.</p>
			<p>Функционал сайта пока не полный, так как изменился дизайн сайта. Планируется внедрение добавление дисциплины в базу данных, привязать предметы к учебным группам и возможность редактировать темы для дисциплины.</p>
			<p>В дальнейшем, разработчиками планируется внедрение искусственного интеллекта на наш сайт.</p>
			<p>Эксперты, жду ваших предложений :)</p>
		</div>
	</div>
</main>
{% endblock %}