{% extends 'account/base.html' %}

{% block content %}
<main class="container">
	<div class="main_wrapper">
		<div class="main_content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus non nunc vitae tempus. Duis tempor nibh vitae fringilla feugiat. Donec congue metus ut sodales porttitor. Mauris rhoncus lobortis laoreet. Morbi sit amet vulputate ipsum. Cras non ante at purus aliquam posuere id in felis. Suspendisse porttitor odio non dolor aliquet aliquam. Cras vel sagittis velit, in volutpat elit. Curabitur non aliquet nisl, vitae condimentum risus. Cras a placerat purus, non efficitur metus.</p>
			<p>Morbi molestie dignissim nunc, vitae condimentum nulla elementum ut. Cras facilisis imperdiet mauris sollicitudin sagittis. In hac habitasse platea dictumst. Sed sollicitudin ultricies purus sed tristique. Suspendisse lacinia, nisi egestas blandit fermentum, nunc nunc commodo turpis, ac mollis quam nulla ac eros. Morbi quis diam commodo sapien rutrum ornare. Duis tristique consequat eros sit amet scelerisque. Proin nec placerat neque. Praesent vitae nulla sit amet justo posuere eleifend. Cras placerat venenatis varius.</p>
		</div>
		<br/>
	</div>
</main>
{% endblock %}