{% extends 'account/base.html' %}

{% block content %}
<main>
	<div class="container col-xl-10 col-xxl-8 px-4 py-5">
	<div class="row align-items-center g-lg-5 py-5">
	  <div class="col-md-10 mx-auto col-lg-5">
		<form method="post" class="p-4 p-md-5 border rounded-3">{% csrf_token %}
		  <div class="form-floating mb-3">
			<input type="text" name="email" class="form-control" id="inputEmail" required>
			<label for="inputEmail">Логин</label>
		  </div>
		  <div class="form-floating mb-3">
			<input type="password" name="password" class="form-control" id="inputPassword" required>
			<label for="inputPassword">Пароль</label>
		  </div>

		  {% for field in login_form %}
             {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
             {% endfor %}
          {% endfor %}
          {% if login_form.non_field_errors %}
              <div style="color: red">
                <p>{{login_form.non_field_errors}}</p>
              </div>
          {% endif %}

		  <div>
			<button class="btn btn-primary" type="submit">Авторизоваться</button>
		  </div>
		</form>
	  </div>
	</div>
  </div>
</main>
{% endblock %}