{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Навигация</title>
    <link rel="stylesheet" href="{% static '/account/table.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
</head>
<body>
    <div class="signin">
        <h1>Навигация</h1>
        <ul>
            <a href="{% url 'moderator_home' %}" class="button buttonBlue"><li>Главная</li></a>
            <a href="{% url 'interface' %}" class="button buttonBlue"><li>Группы</li></a>
            <a href="{% url 'TableForSubjects' %}" class="button buttonBlue"><li>Предметы</li></a>
            <a href="{% url 'TableForSubjectsNames' %}" class="button buttonBlue"><li>Предмет-группа</li></a>
            <a href="{% url 'TableForSubjectsTeachers' %}" class="button buttonBlue"><li>предмет-учитель</li></a>
            <a href="{% url 'TableForSemestersSubjects' %}" class="button buttonBlue"><li>Семестры-предметы</li></a>
            <a href="{% url 'display-table' %}" class="button buttonBlue"><li>Семестры</li></a>
            <a href="{% url 'TableForThemesNames' %}" class="button buttonBlue"><li>Темы</li></a>
            <a href="{% url 'TableForModulesNames' %}" class="button buttonBlue"><li>Модули</li></a>
            <a href="{% url 'TableForSubjectsModules' %}" class="button buttonBlue"><li>Предметы-модули</li></a>
            <a href="{% url 'TableForLessonsNames' %}" class="button buttonBlue"><li>Пары</li></a>
            <a href="{% url 'TableForTasksNames' %}" class="button buttonBlue"><li>Задания</li></a>
            <a href="{% url 'TableForModuleThemes' %}" class="button buttonBlue"><li>Модули-темы</li></a>
            <a href="{% url 'TableForThemesLessons' %}" class="button buttonBlue"><li>Темы-пары</li></a>
            <a href="{% url 'TableForLessonsTasks' %}" class="button buttonBlue"><li>Пары-задания</li></a>
            <a href="{% url 'TableForTasksStudents' %}" class="button buttonBlue"><li>Задания-студенты</li></a>
        </ul>
    </div>
</body>
</html>