{% extends 'account/base.html' %}

{% block title %}Профиль{% endblock %}

{% load static %}
{% block content %}
<main class="container">
	<div class="main_wrapper">
		<div class="main_content">
			<h1>Профиль</h1>
			<br>
			  <div class="row">
				  <div class="col-auto">
					  <!-- Стандартная аватарка -->
					<img src="../media/{{ user.prof_img }}" width="192" height="192" align="left" alt="profile_image" class="me-5" />
				  </div>
				  <div class="col">
					  <!-- Это пока тестовые данные, в реале берется из базы данных -->
					<p>ФИО: {{ user.first_name }} {{ user.last_name }}</p>
					<p>Должность: {{ user.group }}</p>
					<p>Email: {{ user.email }}</p>
					<p>Дата регистрации: {{ user.date_joined }}</p>
				  </div>
			  </div>
			<a class="btn btn-outline-secondary mt-3 mx-1" href="{% url 'account' %}">
				<span>Изменить данные</span>
			</a>
			<a class="btn btn-outline-secondary mt-3 mx-1" href="{% url 'changepwd' %}">
				<span>Сменить пароль</span>
			</a>
			<!-- Нерабочие кнопки -->

			<!-- <button type="button" class="btn btn-outline-secondary mt-3 mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Изменить данные
			</button>
			<button type="button" class="btn btn-outline-secondary mt-3 mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Сменить пароль
			</button> -->
			
		</div>
	</div>
</main>
{% endblock %}