{% load static %}
<!DOCTYPE html>
<html lang="en">
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Предмет-учитель</title>
    <link rel="stylesheet" href="{% static '/account/table.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
</head>
<body>
    <div class = "signin">
        <h1>Для добавления предмет-учитель</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.Subject }}<br>
            {{ form.Teacher }}<br>
            <button type="submit" class="button buttonBlue">Добавить группу</button>
        </form>
    </div>
</body>
</html>