{% extends 'account/base.html' %}

{% block content %}
<main class="container">
	<div class="main_wrapper">
		<div class="main_content">
			<h1>Семестры</h1>

		</div>
	</div>
</main>

<!-- Всплывающее окошко: Добавить дисциплину -->
<!-- Должен добавить диспицлину в базу данных, форма пока нерабочая -->
<!-- <form method="get">
<div class="modal fade" id="addDiscipline" tabindex="-1" aria-labelledby="addDisciplineLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="addDisciplineLabel">Добавить дисциплину</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<input class="form-control" name="subject_name" placeholder="Наименование">
			</div>
			<div class="modal-footer">
			<button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Закрыть</button>
			<button type="submit" class="btn btn-success">Добавить</button>
			</div>
		</div>
	</div>
</div>
</form> -->
{% endblock %}