{% extends 'account/base.html' %}

{% block title %}{{subject.SubjectName}}{% endblock %}

{% block content %}
<main class="container">
	<div class="main_wrapper">
		<div class="main_content">
        <h1>{{subject.SubjectName}}</h1>
        <br>
        {% if subj %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Тема</th>
                <th scope="col">Дата/время занятия</th>
                <th scope="col">Преподаватель</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for s in subj %}
              <tr>
                <th class="topicID" scope="row"></th>
                <td>{{ s.TopicName }}</td>
                <td>{{ s.DateTimeLesson }}</td>
                <td>{{ s.Teacher.username }}</td>
                <td>&#128393;</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Нет записей.</p>
        {% endif %}
        <div class="row mt-3">
            <div class="col">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addTheme">
                    <span><b>&plus;</b> Добавить тему</span>
                </button>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModel">
                    <span><b>&minus;</b> Удалить дисциплину</span>
                </button>
            </div>
            {% if subj %}
            <div class="col">
                <button type="button" class="btn btn-outline-primary">
                    <span>Посмотреть список тем</span>
                </button>
                <button type="button" class="btn btn-outline-primary">
                    <span>Посмотреть рабочую программу</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</main>

<!-- Modal: Добавить тему -->
<form method="post">{% csrf_token %}
    <div class="modal fade" id="addTheme" tabindex="-1" aria-labelledby="addThemeLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="addThemeLabel">Добавить тему</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Выберите группу:<br>{{ form.Group }}</p>
                    <p>Выберите предмет:<br>{{ form.Subject }}</p>
                    <p>Название темы:<br>{{ form.TopicName }}</p>
                    <p>Укажите время занятия:<br>{{ form.DateTimeLesson }}</p>
                    <p>Преподаватель:<br>{{ form.Teacher }}</p>
                </div>
                <div class="modal-footer">
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Закрыть</button>
                <button type="submit" class="btn btn-success">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal: Удалить дисциплину -->
<form method="get">
    <div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Удаление дисциплины</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>
                        Удалить дисциплину "{{subject.SubjectName}}"?
                        <br>
                        Все данные будут безвозвратно утеряны.
                    </span>
                </div>
                <div class="modal-footer">
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Закрыть</button>
                <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    let i = 0;
    const key = document.querySelectorAll('.topicID');

    key.forEach(element => {
        element.innerHTML = ++i;
    });
</script>
{% endblock %}